.wrapper_header_mobile {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 50;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.phone a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin-left: 9px;
  margin-right: 35px;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.logo {
  color: #0dbc91;
  font-size: 26px;
}

.burger_btn {
  width: 37px;
  height: 26px;
  margin-left: 17px;
  position: relative;
  cursor: pointer;
}

.burger_btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 37px;
  background: #1fa181;
  height: 4px;
}

.burger_btn span {
  position: absolute;
  top: 11px;
  width: 37px;
  background: #1fa181;
  height: 4px;
}

.burger_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 37px;
  background: #1fa181;
  height: 4px;
}

.menu_btn {
  color: #1fa181;
  background-color: #fff;
  border: #0dbc91 1px solid;
  margin-top: 30px;
}

.menu_btn:hover {
  background-color: #0a7f62;
  border: 0;
  color: #fff;
}
