.item {
    font-size: 16px;
    line-height: 27px;
    list-style-type: none;
}
   
 .item:before{
    content: '';
    display: inline-block;
    height: 7px;
    width: 7px;
    vertical-align: middle;
    border-radius:50%;
    background-color:#1FA181;
    margin-right:9px;
  }