.btn_info {
  color: #0dbc91;
  background: transparent;
  border: #0dbc91 1px solid;
  margin-left: 15px;
}

.btn_info:hover {
  background-color: #0a7f62;
  border: 0;
  color: #fff;
}

.btn_block {
  display: block;
  padding-top: 26px;
}

.slider_content h1,
h2 {
  margin: 0;
  padding: 0;
}

.slider_content h2 {
  margin: -1px 0 13px 0;
  font-weight: 400;
  font-size: 22px;
}

.slider_content {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 613px;
  z-index: 3;
  padding: 53px 0 0 63px;
}

.trapezoid {
  width: 500px;
  position: absolute;
  border-bottom: 441px solid #e2f0ef;
  border-right: 165px solid transparent;
  z-index: 2;
}

.slider_img {
  z-index: 1;
  width: 900px;
  height: 440px;
  background-image: url("/public/Images/slider1.png");
  background-repeat: no-repeat;
}

.slider_container {
  display: flex;
}

.price_total {
  padding-top: 33px;
}

.new_price {
  font-size: 20px;
  color: #364844;
}

.new_price::after,
.old_price::after {
  content: "\20BD";
}

.old_price {
  font-size: 16px;
  color: #868686;
  text-decoration: line-through;
  padding-left: 16px;
}

.slider_services {
  height: 100px;
}

.item_service {
  font-size: 16px;
  line-height: 27px;
  list-style-type: none;
}

.item_service:before {
  content: "";
  display: inline-block;
  height: 7px;
  width: 7px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #1fa181;
  margin-right: 9px;
}

@media (max-width: 1140px) {
  .trapezoid {
    width: 0;
    border-bottom: 0;
    border-right: 0;
  }
  .slider_img {
    width: 0;
    height: 0;
  }
  .slider_content {
    padding-left: 0;
    align-items: center;
    background: #e2f0ef;
  }
}

@media (max-width: 610px) {
  .btn_block {
    text-align: center;
  }
  .btn_info {
    margin-left: 0;
    margin-top: 5px;
  }
}
